/*
 * Copyright (c) 2022 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
	lra_en_pin: lra-en-pin {
                compatible = "nordic,gpio-pins";
                gpios = <&gpio1 4 GPIO_ACTIVE_HIGH>;
                status = "okay";
	};

	lcd_bk_en_pin: lcd-bk-en-pin {
                compatible = "nordic,gpio-pins";
                gpios = <&gpio1 8 GPIO_ACTIVE_HIGH>;
                status = "okay";
	};

	lcd_vcom_pin: lcd-vcom-pin {
                compatible = "nordic,gpio-pins";
                gpios = <&gpio1 15 GPIO_ACTIVE_HIGH>;
                status = "okay";
	};

	button_2_pin: button-2-pin {
                compatible = "nordic,gpio-pins";
                gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
                status = "okay";
	};
};

&gpio0 {
        status = "okay";
};

&gpiote0 {
        status = "okay";
};

&gpio1 {
        status = "okay";
};

&gpiote1 {
        status = "okay";
};
